<a href="https://colab.research.google.com/github/sean-halpin/dublin_city_marathon/blob/main/dcm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import requests

In [11]:
from bs4 import BeautifulSoup
import pandas as pd

In [25]:
df = pd.DataFrame(columns=['Race Number',
'First Name',
'Surname',
'Gender',
'Gender Position',
'Category',
'Category Position',
'Club',
'10K',
'Stage Position',
'20K',
'Stage Position',
'HALFWAY',
'Stage Position',
'30K',
'Stage Position',
'40K',
'Stage Position',
'Gun Time',
'Overall Position',
'Chip Time',
'Chip Position',
'YouTube',
'Share'])

In [45]:
# all_data=[]
for page in range(1,152):
  url = f"https://www.tdleventservices.co.uk/event-results/events?event=3849&page={page}"
  print(url)
  response= requests.get(url)
  soup = BeautifulSoup(response.content,"html.parser")
  table = soup.find('table', class_='table')
  # Collecting Ddata
  for row in table.tbody.find_all('tr'):    
      # scraped_data = []
      # Find all data for each column
      columns = row.find_all('td')
      
      if(columns != []):
        cleaned_row=[]
        for c in columns:
          cleaned_col = c.text.strip()
          cleaned_row.append(cleaned_col)
        # scraped_data.append(cleaned_row)
        df.loc[len(df)] = cleaned_row
      # all_data.append(scraped_data)

https://www.tdleventservices.co.uk/event-results/events?event=3849&page=1
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=2
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=3
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=4
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=5
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=6
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=7
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=8
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=9
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=10
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=11
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=12
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=13
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=14
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=15
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=16
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=17
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=18
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=19
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=20
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=21
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=22
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=23
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=24
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=25
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=26
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=27
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=28
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=29
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=30
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=31
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=32
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=33
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=34
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=35
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=36
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=37
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=38
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=39
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=40
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=41
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=42
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=43
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=44
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=45
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=46
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=47
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=48
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=49
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=50
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=51
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=52
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=53
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=54
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=55
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=56
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=57
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=58
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=59
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=60
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=61
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=62
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=63
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=64
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=65
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=66
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=67
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=68
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=69
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=70
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=71
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=72
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=73
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=74
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=75
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=76
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=77
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=78
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=79
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=80
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=81
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=82
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=83
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=84
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=85
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=86
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=87
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=88
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=89
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=90
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=91
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=92
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=93
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=94
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=95
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=96
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=97
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=98
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=99
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=100
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=101
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=102
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=103
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=104
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=105
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=106
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=107
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=108
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=109
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=110
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=111
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=112
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=113
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=114
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=115
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=116
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=117
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=118
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=119
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=120
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=121
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=122
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=123
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=124
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=125
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=126
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=127
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=128
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=129
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=130
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=131
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=132
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=133
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=134
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=135
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=136
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=137
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=138
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=139
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=140
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=141
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=142
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=143
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=144
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=145
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=146
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=147
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=148
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=149
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=150
https://www.tdleventservices.co.uk/event-results/events?event=3849&page=151

In [46]:
df.to_csv('dcm.csv', index = False)

In [76]:
df = pd.read_csv('dcm.csv')

In [77]:
pd.set_option('display.max_columns', None)

In [78]:
# df['Gender'] = df['Gender'].astype('category')
# df['Gender Position'].astype('int64')
# df['Category'] = df['Category'].astype('category')
# df['Category Position'].astype('int64')
# df['10K']=df['10K'].astype('datetime64')
# df['20K']=df['20K'].astype('datetime64')
# df['HALFWAY']=df['HALFWAY'].astype('datetime64')
# df['30K']=df['30K'].astype('datetime64')
# df['40K']=df['40K'].astype('datetime64')
# df['Gun Time'].astype('datetime64')
# df['Chip Time'].astype('datetime64')
# df['Stage Position'].astype('int64')
# df['Stage Position.1'].astype('int64')
# df['Stage Position.2'].astype('int64')
# df['Stage Position.3'].astype('int64')
# df['Stage Position.4'].astype('int64')
# df['Overall Position'].astype('int64')
# df['Chip Position'].astype('int64')

In [79]:
df.drop('Club', axis=1, inplace=True)
df.drop('YouTube', axis=1, inplace=True)
df.drop('Share', axis=1, inplace=True)

In [80]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15100 entries, 0 to 15099
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Race Number        15100 non-null  int64
 1   First Name         15100 non-null  object
 2   Surname            15099 non-null  object
 3   Gender             15100 non-null  object
 4   Gender Position    15100 non-null  object
 5   Category           15098 non-null  object
 6   Category Position  15100 non-null  object
 7   10K                14964 non-null  object
 8   Stage Position     15100 non-null  object
 9   20K                14965 non-null  object
 10  Stage Position.1   15100 non-null  object
 11  HALFWAY            14785 non-null  object
 12  Stage Position.2   15100 non-null  object
 13  30K                14786 non-null  object
 14  Stage Position.3   15100 non-null  object
 15  40K                14778 non-null  object
 16  Stage Position.4   15100 non-null  object
 17  Gun Time           15100 non-null  object
 18  Overall Position   15100 non-null  object
 19  Chip Time          14937 non-null  object
 20  Chip Position      15100 non-null  object
dtypes: int64(1), object(20)
memory usage: 2.4+ MB
None

In [81]:
df.head()

,Race Number,First Name,Surname,Gender,Gender Position,Category,Category Position,10K,Stage Position,20K,Stage Position.1,HALFWAY,Stage Position.2,30K,Stage Position.3,40K,Stage Position.4,Gun Time,Overall Position,Chip Time,Chip Position
0,2,Taoufik,Allam,Male,1,MS,1,00:32:16,5,01:03:35,4,01:07:03,4,01:34:21,2,02:04:43,1,02:11:30,1,02:11:30,1
1,5,Ashenafi,Boja,Male,2,MS,2,00:32:16,3,01:03:34,2,01:07:03,3,01:34:23,3,02:06:26,3,02:13:59,2,02:13:58,2
2,4,Birhanu,Teshome,Male,3,MS,3,00:32:15,1,01:03:33,1,01:07:01,2,01:34:19,1,02:06:25,2,02:14:26,3,02:14:25,3
3,7,Gelgelo,Outoya,Male,4,MS,4,00:32:16,4,01:03:34,3,01:07:08,5,01:36:19,4,02:09:10,4,02:16:03,4,02:16:02,4
4,21,Craig,Curley,Male,5,MS,5,00:33:19,14,01:06:21,14,01:10:17,14,01:39:29,7,02:11:46,5,02:18:50,5,02:18:49,5

In [82]:
print(df.shape)

(15100, 21)

In [86]:
df["Chip Time"].value_counts()['DNF']

256

In [87]:
df = df[df["Chip Time"] != 'DNF']

In [88]:
df.shape

(14844, 21)